@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@ng-select/ng-select/themes/default.theme.css';

html,
body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
